{% extends 'base.html' %}

{% block title %}Bienvenido a tu gestor de contactos{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh; text-align: center;">
        <div>
            <h1 class="display-4 font-weight-bold mb-4">¡Bienvenido a tu nuevo gestor de contactos!</h1>
            <p class="lead">¡Tu vida organizada empieza aquí! Pero antes de comenzar a almacenar y gestionar tus contactos, necesitas crear tu cuenta. ¿Estás listo para tener todo en orden?</p>
            <a href="/register" class="btn btn-primary btn-lg mt-3">Crea tu cuenta y empieza ahora</a>
        </div>
    </div>
{% endblock %}


