{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="profile">
    <h1>{{ user.nombre }}</h1>
    <p>Email: {{ user.email }}</p>
</div>

<section class="navbar navbar-expand-lg bg-info bg-opacity-25">
    <!-- Nav de contactos -->
    <div class="container-fluid">
        {% if mostrar == False %}
        <form method="POST">
        <button lass="navbar-toggler" name="aoform" type="submit">Añadir Contacto</button>
        </form>
        {% else %}
        <form method="GET">
            <button lass="navbar-toggler" type="submit">X</button>
        </form>
        {% endif %}        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar Contacto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</section>
    <!-- Fin Nav Contactos -->
    <!-- Formulario para Añadir contactos -->

    {% if mostrar %}
    <form method="POST">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
        </div>

        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introduce tu apellido" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
        </div>

        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="number" class="form-control" id="telefono" name="telefono" placeholder="987654321" required>
        </div>
        <div class="text-center">
            <button name="guardar_contacto" type="submit" class="btn btn-primary btn-lg w-100">Añadir Contacto</button>
        </div>

    </form>
    <!-- Fin formulario para Añadir contactos -->
    {% endif %}

    {% if contacto %}
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ contacto[0][0] }} {{ contacto[0][1] }}</h5>
            </div>
            <div class="modal-body">
              <p>Email: {{ contacto[0][2] }}</p> <!-- contacto[0][2] es el email -->
              <p>Teléfono: {{ contacto[0][3] }}</p> <!-- contacto[0][3] es el teléfono -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Borrar Contacto</button>
            </div>
          </div>
        </div>
      </div>
{% else %}
    <p>No tienes contactos guardados.</p>
{% endif %}

{% endblock %}