{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="profile">
    <h1>{{ user.nombre }}</h1>
    <p>Email: {{ user.email }}</p>
</div>

<section class="navbar navbar-expand-lg  mb-4">
    <!-- Nav de contactos -->
    <div class="container-fluid">
        {% if mostrar == False %}
        <form method="POST">
        <button class="btn btn-outline-success" lass="navbar-toggler" name="aoform" type="submit">Añadir Contacto</button>
        </form>
        {% else %}
        <form method="GET">
            <button class="btn btn-outline-danger" lass="navbar-toggler" type="submit">X</button>
        </form>
        {% endif %}        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar Contacto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
</section>
    <!-- Fin Nav Contactos -->
    <!-- Formulario para Añadir contactos -->

    {% if mostrar %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Añadir Contacto</h5>
            
            <form method="POST">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
                </div>
    
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introduce tu apellido" required>
                </div>
    
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@correo.com" required>
                </div>
    
                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="number" class="form-control" id="telefono" name="telefono" placeholder="987654321" required>
                </div>
    
                <div class="text-center">
                    <button name="guardar_contacto" type="submit" class="btn btn-primary btn-lg w-100">Añadir Contacto</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- Fin formulario para Añadir contactos -->
    {% endif %}


    {% if contacto and contacto|length > 0 %}
    {% for c in contacto %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ c[0] }} {{ c[1] }}</h5>
            <p class="card-text"><strong>Teléfono:</strong> {{ c[3] }}</p>
            <p class="card-text"><strong>Email:</strong> {{ c[2] }}</p>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary">Compartir</button>
                <button class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No tienes contactos guardados.</p>
{% endif %}


{% endblock %}